<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}The Best Website{% endblock title %}</title>
</head>
<body>
    <h3><ul>
        {% block nav_bar %}
            <li><a href="home">Home</a></li>
            <li><a href="servics">Services</a></li>
            <li><a href="about">About</a></li>
        {% endblock nav_bar %}
    </ul></h3>
    {% block user_info %}
        <h1>User Information</h1>
        <h2>Name : {{first_name | lower | capfirst}} {{last_name | lower | capfirst}} <br>
            Age : {{age}} <br>
            Gender : {{gender}}<br>
            Premium User : {{premium_user}}
        </h2>
    {% endblock user_info %}
    {% block content %}{% endblock content %}
</body>
</html>